.DS_Store
/vendor
/dist
/local-archive
/services/horizon/captive-core
/services/horizon/horizon
/services/horizon/stellar-horizon
**bucket-cache/
.vscode
.idea
debug
.bundle
*.swp
*.crt
*.csr
*.key
*.prof
*.test
*.index
*.xdr
*.db
*.conf
*.lock
.proto_checksums
