language: go
services:
- mysql
- postgres
go:
- '1.5'
- '1.6'
script: go test -race ./...
notifications:
  slack:
    secure: CKHCervD3zk30TFOumN9l5yThZKumYpu15qoZaV2udsxOS85JIgp0H536Zga8OxGEMhUqFGLnKvsxOuhDlwEoI0yjBDGybXwe8I8Y6Buu1AdYYW7e0g2voCan+mgLsDbT4GsP71DcZ0rWMcfrr447J8lZl1o2BgNKN9t1MKdQGWkNQhp81gv8GCsDIU+uZl+Wnpkivlk1blGXoK7/+E/8xzC+UF+d0t7IrtqLa2sjf1V9OZAWdBfLa4HAhgJ720OkNYwzjsObmokvYbE2nVgTV692kBhi/so6PRqQgxXKwuKG7oGyFZ8KbeiW2ObPWZBpDY+UGh03DChLnkYg9t0NS6XmLQuhtkVuomNWjde/bch+NAM/LJIbME9eFPRJh+ZY9LvkeEcQbOHoiwqH1R24NEANfl9kb7QwEATYa/zGsJ66l16ynJqmvEfpLhB15rt8FgNLurGdt/mtiGmGlh8ZWiBIl1CH3Fs1KGzXFat02DZtQWbjiv53Aw732CLhHI6myrnxzbK2AmINYiwrKNqYY+7H+5f7y8dofupiOFegJM2xdQHHIcxqkfa40Ob914ZNEt3OFSfet65pQIYebqeFuTAP/1CsIYvhh8B56VMwfKpW+tasNcqZJhThxL7v6R76d386REsyCRLl/dPqQncOljIneOaBbWYVPaNWOFWHPM=
