{{ .AddImport "net/http" }}
{{ .AddImport "github.com/zenazn/goji/web" }}

// ServeHTTPC is a method for web.Handler
func (action {{ .Name }}) ServeHTTPC(c web.C, w http.ResponseWriter, r *http.Request) {
	ap := &action.Action
	ap.Prepare(c, w, r)
	ap.Execute(&action)
}
