name: Go

on:
  push:
    branches: [master]
  pull_request:

jobs:
  complete:
    if: always()
    needs: [check, build, test]
    runs-on: ubuntu-22.04
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  check:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        go: ["1.22.1"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        # For pull requests, build and test the PR head not a merge of the PR with the destination.
        ref: ${{ github.event.pull_request.head.sha || github.ref }}
    - uses: ./.github/actions/setup-go
      with:
        go-version: ${{ matrix.go }}
    - run: ./gomod.sh
    - run: ./gofmt.sh
    - run: ./gogenerate.sh
    - run: ./govet.sh
    - run: ./staticcheck.sh

  build:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        go: ["1.21", "1.22"]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        # For pull requests, build and test the PR head not a merge of the PR with the destination.
        ref: ${{ github.event.pull_request.head.sha || github.ref }}
    - uses: ./.github/actions/setup-go
      with:
        go-version: ${{ matrix.go }}
    - run: go build ./...
    - name: Build binaries
      run: go run ./support/scripts/build_release_artifacts/main.go

  test:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        go: ["1.21", "1.22"]
        pg: [12, 16]
    runs-on: ${{ matrix.os }}
    services:
      postgres:
        image: postgres:${{ matrix.pg }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 5432:5432
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 6379:6379
    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: postgres
      REDIS_HOST: localhost
      REDIS_PORT: 6379
    steps:
    - uses: actions/checkout@v3
      with:
        # For pull requests, build and test the PR head not a merge of the PR with the destination.
        ref: ${{ github.event.pull_request.head.sha || github.ref }}
        # We need to full history for git-restore-mtime to know what modification dates to use.
        # Otherwise, the Go test cache will fail (due to the modification time of fixtures changing).
        fetch-depth: '0'
    - uses: ./.github/actions/setup-go
      with:
        go-version: ${{ matrix.go }}
    - run: go test -race -cover ./...
