name: Linters
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # version v3.0.2
        with:
          fetch-depth: 0 # required for new-from-rev option in .golangci.yml
      - name: Setup GO
        uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f # version v3.3.0
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # version v3.2.0
        with:
          version: v1.52.2 # this is the golangci-lint version
          args: --issues-exit-code=0 # exit without errors for now - won't fail the build
          github-token: ${{ secrets.GITHUB_TOKEN }}
          only-new-issues: true




